<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image in database</title>
</head>

<body>

    <h1>Upload Image in the database</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">

        <div class="name">
            <label for="file">Name : </label>
            <input type="text" id="name" name="name">
        </div>

        <div class="file">
            <label for="file">File : </label>
            <input type="file" id="file" name="file">
        </div>
        <button type="submit">upload</button>
    </form>

</body>

</html>